@{
    ViewData["Title"] = "About";
}


@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@


@*<!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">

            <div class="row no-gutters">
                <div class="content col-xl-5 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Voluptatem dignissimos provident quasi</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        </p>
                        <a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-7 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-receipt"></i>
                                <h4>Corporis voluptates sit</h4>
                                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Ullamco laboris nisi</h4>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <i class="bx bx-images"></i>
                                <h4>Labore consequatur</h4>
                                <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                <i class="bx bx-shield"></i>
                                <h4>Beatae veritatis</h4>
                                <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->*@


<!-- Page Content -->
<div class="container mt-5">
    <div class="section-title">
        <h2>About</h2>
    </div>


    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6" id="logo">
            <img class="img-fluid rounded mb-4 border" src="~/myimages/fixitlogo.png" style=" border-bottom: 2px #0094ff solid" alt="">
        </div>
        <div class="col-lg-6">
            <div class="text-center">
                <h2>Fixit.PH</h2>
            </div>

            <p class="text-center">
                Fixit website is created to keep pace with the modernization of the world and to give service to the people.
                It is located at College of Subic Montessori, Inc.,Sta. Isabel, Dinalupihan, Bataan.
                Computer service includes desktop/laptop repair (MacBook Pro, Air, Mac, Imac), computer maintenance and virus removal, back up and data recovery. In cellphone repair we offer LCD replacement, screen replacement and battery replacement for both Iphone and Android phone.
            </p>
        </div>
        <!-- /.row -->
        <!-- Team Members -->


            <div class="text-center">
                <h2>Team</h2>
            </div>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/about/JaneProfile.jpg" style="width: 350px; height:350px; border-bottom: 2px #0094ff solid" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Jane Ticar</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Documentary</h6>
                        <p class="card-text">In order to be irreplaceable, one must always be different</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">JaneTicar@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/about/WendhelProfile.jpg" style="width: 350px; height: 350px; border-bottom: 2px #0094ff solid" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Wendhel Aton</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Programmer</h6>
                        <p class="card-text">Always give your best shot!. Work hard and smart</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">gregorio.wendhel@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100 text-center">
                    <img class="card-img-top" src="~/about/Jake.png" style="width: 350px; height: 350px; border-bottom: 2px #0094ff solid" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Jake Renzo Carlos</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                        <p class="card-text">Experience is the name everyone gives to their mistakes.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#">Jakerenzocarlos@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->


    </div>
</div>
<!-- /.container -->

<style>
    #logo {
        border: 10px solid transparent;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
        border-image-slice: 1;
    }
</style>