
@{
    ViewData["Title"] = "Faqs";
}


<br /><br /><br /><br /><br />
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list accordion" data-aos="fade-up">

            <li>
                <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">1. What services do we offer? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        We offer IT support, home computer repairs, virus removals, MAC/PC repairs, data recovery and many more.
                    </p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">2. how long do repairs take? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Once you approved for the repair at price quoted, we perform repair right away.
                    </p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">3 .Do you offer a warranty for your service?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Yes, 30  days on software related repair, 60 days on hardware related repair.
                    </p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">4. How much does it cost? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Your approval is required before all repair works to be performed
                    </p>
                </div>
            </li>

            <li>
                <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">5. Where are you located at? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        College of Subic Montessori, Inc., Sta. Isabel, Dinalupihan, Bataan
                    </p>
                </div>
            </li>

            @*<li>
                <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                    </p>
                </div>
            </li>*@

        </ul>

    </div>
</section><!-- End Frequently Asked Questions Section -->
<!--end: Accordion -->
@*<h2 class="text-center mt-5">Frequently Asked Questions</h2>
    <br /><br>
    <section>
        <div class="container">


            <div class="accordion">



                <div class="accordion-item">
                    <a>1. What services do we offer?</a>

                    <div class="content">
                        <p> We offer IT support, home computer repairs, virus removals, MAC/PC repairs, data recovery and many more.</p>
                    </div>
                </div>


                <div class="accordion-item">
                    <a>2. how long do repairs take?</a>

                    <div class="content">
                        <p> Once you approved for the repair at price quoted, we perform repair right away.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <a>3 .Do you offer a warranty for your service?</a>

                    <div class="content">
                        <p> Yes, 30  days on software related repair, 60 days on hardware related repair.</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <a>4. How much does it cost? </a>

                    <div class="content">
                        <p> Your approval is required before all repair works to be performed</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <a>5. Where are you located at?</a>

                    <div class="content">
                        <p> College of Subic Montessori, Inc., Sta. Isabel, Dinalupihan, Bataan</p>
                    </div>
                </div>

            </div>

        </div>


    </section>*@



    @*<style>
        @@font-face {
            font-family: Ionicons;
            src: url('f0ab');
        }

        .accordion-item {
            width: 100%;
        }

        *, *:before, *:after {
            -webkit-box-sizing: inherit;
            box-sizing: inherit;
        }





        .accordion a {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            padding: 1rem 3rem 1rem 1rem;
            color: #7288a2;
            font-size: 1rem;
            font-weight: 400;
            border-bottom: 1px solid #e5e5e5;
        }

            .accordion a:hover,
            .accordion a:hover::after {
                cursor: pointer;
                color: #03b5d2;
            }

                .accordion a:hover::after {
                    border: 1px solid #03b5d2;
                }

            .accordion a.active {
                color: #03b5d2;
                border-bottom: 1px solid #03b5d2;
            }

            .accordion a::after {
                font-family: 'Ionicons';
                content: '\f218';
                position: absolute;
                float: right;
                right: 1rem;
                font-size: 1rem;
                color: #7288a2;
                padding: 5px;
                width: 30px;
                height: 30px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 1px solid #7288a2;
                text-align: center;
            }

            .accordion a.active::after {
                font-family: 'Ionicons';
                content: '\f209';
                color: #03b5d2;
                border: 1px solid #03b5d2;
            }

        .accordion .content {
            opacity: 0;
            padding: 0 1rem;
            max-height: 0;
            border-bottom: 1px solid #e5e5e5;
            overflow: hidden;
            clear: both;
            -webkit-transition: all 0.2s ease 0.15s;
            -o-transition: all 0.2s ease 0.15s;
            transition: all 0.2s ease 0.15s;
        }

            .accordion .content p {
                font-size: 1rem;
                font-weight: 300;
            }

            .accordion .content.active {
                opacity: 1;
                padding: 1rem;
                max-height: 100%;
                -webkit-transition: all 0.35s ease 0.15s;
                -o-transition: all 0.35s ease 0.15s;
                transition: all 0.35s ease 0.15s;
            }
    </style>



        <script>
            const items = document.querySelectorAll(".accordion a");
            function toggleAccordion() {
                this.classList.toggle('active');
                this.nextElementSibling.classList.toggle('active');
            }
            items.forEach(item => item.addEventListener('click', toggleAccordion));
        </script>*@
