@using ProjectBSIS401.WEB.Infrastructures.Domain.Models;
@using ProjectBSIS401.WEB.Infrastructures.Domain.Enums;
@using ProjectBSIS401.WEB.ViewModels;
@model ProjectBSIS401.WEB.ViewModels.home.HomeIndexViewModel
@{
    Layout = "~/views/shared/_layout.cshtml";
}


<!-- ======= Background Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="50">
        <div class="row">
            <div class="col-xl-6">
              
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= Categories Section ======= -->
    @Html.Partial("~/Views/Shared/_PartialCategories.cshtml")
    <p style="text-align:justify"></p>
    
</main>
