
@{
    Layout = "~/views/shared/_layout.cshtml";
}


<h2>_managalayout</h2>

<div class="container">
    @RenderSection("tableHead",false)
    @RenderBody()
    @RenderSection("extras",false)
</div>


@RenderSection("Scripts",false)
