@using ProjectBSIS401.WEB.Infrastructures.Domain.Helper
@using ProjectBSIS401.WEB.Infrastructures.Domain.Enums

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="~/home"><span style="color:#195bd0">Fi</span><span style="color:#b20e0e">x</span><span style="color:#195bd0">it</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="~/home">Home</a></li>
                <li><a href="~/home/ourservices">Services</a></li>
                <li><a href="~/shop/index">Shops</a></li>
                <li><a href="~/home/team">Team</a></li>
                <li><a href="~/home/pricing">Pricing</a></li>
                <li><a href="~/home/faqs">FAQS</a></li>
                <li><a href="~/home/about">About</a></li>
                <li><a href="~/home/contact">Contact</a></li>
                @{
                    @if (!WebUser.IsUserLogggedIn() == true)
                    {
                        <li><a href="~/account/login">Sign In</a></li>
                    }
                    else
                    {

                        <li class="drop-down">
                            <a href="">Account</a>
                            <ul>
                                <li class="drop-down">
                                    <a href="#">Settings</a>
                                    <ul>

                                        <li><a class="dropdown-item" href="~/account/profile/@WebUser.UserId">Profile</a></li>
                                        <li><a class="dropdown-item" href="~/account/change-password/@WebUser.UserId">Change Password</a></li>
                                        <li><a class="dropdown-item" href="~/account/logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    }


                }


            </ul>
        </nav><!-- .nav-menu -->

   
    </div>
</header><!-- End Header -->

