
@{
    ViewData["Title"] = "BusinessInsight";
}

<h2>BusinessInsight</h2>


<section>
    <div class="container">
        <div class="row">
            <div class="col">
                @*<div id="piechart" class="Chart-Pie"></div>*@
            </div>
            <div class="col">
                <div id="timeline" style="height: 180px;"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
    
</section>


<style>

</style>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/vendor/jquery/chart.js"></script>
