
@{
    ViewData["Title"] = "Calendar";
}
<link href='~/calendar/lib/main.css' rel='stylesheet' />

<br /><br /><br />
<div id='top'>
    Locales:
    <select id='locale-selector'></select>
</div>

<div id='calendar'></div>

<script src='https://github.com/mozilla-comm/ical.js/releases/download/v1.4.0/ical.js'></script>
<script src='~/calendar/lib/main.js'></script>
<script>
    $(document).ready(function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl,
            {
                header:
                {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: 'today',
                    month: 'month',
                    week: 'week',
                    day: 'day'
                },  events: function (start, end, timezone, callback)  
                {  
                    $.ajax({  
                        url: '/Home/GetCalendarData',  
                        type: "GET",  
                        dataType: "JSON",  
  
                        success: function (result)  
                        {  
                            var events = [];  
  
                            $.each(result, function (i, data)  
                            {  
                                events.push(  
                               {  
                                   title: data.Title,  
                                   description: data.Desc,  
                                   start: moment(data.Start_Date).format('YYYY-MM-DD'),  
                                   end: moment(data.End_Date).format('YYYY-MM-DD'),  
                                   backgroundColor: "#9501fc",  
                                   borderColor: "#fc0101"  
                               });  
                            });  
  
                            callback(events);  
                        }  
                    });  
                },  
  
                eventRender: function (event, element)  
                {  
                    element.qtip(  
                    {  
                        content: event.description  
                    });  
                },  
  
                editable: false   
            });
    });
   

    document.addEventListener('DOMContentLoaded', function () {
        var initialLocaleCode = 'en';
        var localeSelectorEl = document.getElementById('locale-selector');
        var calendarEl = document.getElementById('calendar');

        

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            initialDate: '2020-05-12',
            locale: initialLocaleCode,
            buttonIcons: false, // show the prev/next text
            weekNumbers: true,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            async: false,
            dayMaxEvents: true, // allow "more" link when too many events
            selectable: true,
            timeFormat: {
                '': 'h:mm{ - h:mm}'
            },
            events: {
                url: "~/shop/get-bookings"
                ,
                method: "POST",
                extraParams: {
                    custom_param1: 'something',
                    custom_param2: 'somethingelse'
                },
                failure: function () {
                    alert('there was an error while fetching events!');
                },
                color: 'yellow',   // a non-ajax option
                textColor: 'black' // a non-ajax option
            }

        });
       
        calendar.render();

        // build the locale selector's options
        calendar.getAvailableLocaleCodes().forEach(function (localeCode) {
            var optionEl = document.createElement('option');
            optionEl.value = localeCode;
            optionEl.selected = localeCode == initialLocaleCode;
            optionEl.innerText = localeCode;
            localeSelectorEl.appendChild(optionEl);
        });

        // when the selected option changes, dynamically change the calendar option
        localeSelectorEl.addEventListener('change', function () {
            if (this.value) {
                calendar.setOption('locale', this.value);
            }
        });

    });

</script>

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #top {
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        font-size: 12px;
    }

    #calendar {
        max-width: 1100px;
        margin: 40px auto;
        padding: 0 10px;
    }
</style>