@model ProjectBSIS401.WEB.ViewModels.shop.MyChatViewModel
@{
    Layout = null;
    Layout = "~/views/shared/_ShopPartialNav.cshtml";
}

<br /><br />
<h2 class="mt-5 text-center">MyChat</h2>


@{ 
    var userId = WebIDS.GetShopAdminId;
}

@if (Model.Chats != null)
{
    if (Model.Chats.Count > 0)
    {
        @foreach (var c in Model.Chats)
        {

            <ul>
                <li>
                    <a href="~/chats/new-chat/@c.Id">
                        @c.Users.FirstOrDefault(x => x.UserId == userId).Chat.Name

                    </a>
                </li>
            </ul>



        }
    }
}
