@model ProjectBSIS401.WEB.ViewModels.account.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}



<br /><br /><br /><br />
<form method="post" action="/account/change-password">
    <div class="container">


        <div class="createaccount">

            <img src="~/myimages/logotransparent.png" />
            <h3>Change Password</h3>
            <div class="form-group">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                <input type="password" name="OldPassword" placeholder="Old password" />
            </div>
            <div class="form-group">
                <input type="password" name="NewPassword" placeholder="New password" />
            </div>
            <div class="form-group">
                <input type="password" name="ConfirmNewPassword" placeholder="Confirm password" />
            </div>

            <div>
                <a href="~/account/sign-up"><button class="btn btn-primary offset-5 mt-4" type="button" value="Login">Sign Up</button></a>
            </div>


            <div>
                <button class="btn btn-primary offset-5 mt-2" type="submit" value="Login">Submit</button>
            </div>
        </div>




    </div>
</form>

