@model ProjectBSIS401.WEB.ViewModels.account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}



<br /><br /><br /><br />
<form method="post" action="/account/forgot-password">
    <div class="forgotpasswordcontent">
        <img src="~/myimages/logotransparent.png" />
        <h3>Forgot Password?</h3>
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        </div>
        <center><p class="mt-lg-5">Check your email address after submitting this form.</p></center>
        <input type="email" name="EmailAddress" placeholder="Email Address" />

        <button type="submit" value="ForgotPassword">Submit</button>



    </div>

</form>

