@model ProjectBSIS401.WEB.ViewModels.account.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<br />

<div class="section-title">
    <img src="~/myimages/logotransparent.png"  />
    <h2>Login</h2>
</div>
<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><a href="~/account/sign-up" class="btn btn-link">Sign-Up</a></div>
                    <div class="card-body">
                        <form method="post" action="/account/login">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="All" class="text-danger text-center"></div>
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                    <input type="text" name="EmailAddress" id="email_address" class="form-control" required autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="Password" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember"> Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" id="submit" class="btn btn-primary">
                                    Sign-In
                                </button>
                                <a href="~/account/forgot-password" class="btn btn-link">
                                    Forgot Your Password?
                                </a>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</main>
<style>

    .my-form {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

        .my-form .row {
            margin-left: 0;
            margin-right: 0;
        }

    .login-form {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

        .login-form .row {
            margin-left: 0;
            margin-right: 0;
        }
</style>

<script src="~/vendor/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").attr('disabled', 'disabled');

        $("form").keyup(function () {
            // To Disable Submit Button
            $("#submit").attr('disabled', 'disabled');
            // Validating Fields
            var emailAddress = $("#email_address").val();
            var password = $("#password").val();
         

            if (!(emailAddress == "" || password == "")) {

                // To Enable Submit Button
                $("#submit").removeAttr('disabled');
                $("#submit").css({
                    "cursor": "pointer",
                    "box-shadow": "1px 0px 6px #333"
                });

            }
        });
        // On Click Of Submit Button
        $("#submit").click(function () {
            $("#submit").css({
                "cursor": "default",
                "box-shadow": "none"
            });

        });
    });

</script>