@model ProjectBSIS401.WEB.ViewModels.account.RegisterViewModel
@{
    ViewData["Title"] = "SignUp";
}


<br /><br /><br /><br />


<form method="post" action="/account/sign-up">
    <div class="signup">
        <img src="~/myimages//logotransparent.png" />
        <h3>Register</h3>
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        </div>
        <div>
            <div class="">
                <div asp-validation-summary="All" class="text-danger text-center"></div>

                @*@Html.DropDownList("ShopId", (IEnumerable<SelectListItem>)ViewBag.ShopId, null, new { @class = "form-control" })*@
                <div class="form-group">
                    <input type="text" name="FirstName" placeholder="First name" />
                </div>
                <div class="form-group">
                    <input type="text" name="LastName" placeholder="Last name" />
                </div>
                <div class="form-group">
                    <input type="password" name="Password" placeholder="Password" />
                </div>

                <div class="form-group">
                    <input type="password" name="ConfirmPassword" placeholder="ConfirmPassword" />
                </div>
                <div class="form-group">
                    <input type="email" name="EmailAddress" placeholder="Email Address" />
                </div>

                <small for="BirthOfDay" class="form-label text-center offset-5">Birthday</small>
                <input type="date" id="datepicker" name="BirthOfDay" placeholder="Birthday"></p>
                <div class="form-group">
                    <input type="text" name="PhoneNumber" placeholder="Phone Number " />
                </div>


                <div class="offset-5 mt-4">
                    <button class="btn btn-primary" type="submit" value="SignUp">Submit</button>
                </div>
            </div>

        </div>
    </div>

</form>




<script>
    $(function () {
        $("#datepicker").datepicker();
    });

    function UserCheck() {
        $("Status").html("Checking...");
        $.post("@Url.Action("CheckUserNameAvailability","Account")", {
            userData: $("#EmailAddress").val()
        },
        function (data) {
                if (data == 0) {
                    $("#Status").html('<font color =""Green"> Available!. you can take it.</font>');
                    $("EmailAddress").css("border-color", "Green");
                }
                else {
                    $("#Status").html('<font color =""Red"> The name is taken!. try Another.</font>');
                    $("EmailAddress").css("border-color", "Red");

                }
            })


    }
</script>