@model ProjectBSIS401.WEB.ViewModels.account.VerifyViewModel
@{
    ViewData["Title"] = "Verify";
}
<br /><br /><br /><br />




<div class="verifyaccount">
    <img src="~/myimages/logotransparent.png" />
    <h3>Verify Account</h3>
    <form method="post" action="~/account/verify">
        <div asp-validation-summary="All" class="text-danger text-center"></div>
        <div class="form-group">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        </div>
        <p>Please verify your account first. You'll recieve an verification code thru email.</p>
        <input type="text" id="registrationCode" name="RegistrationCode" placeholder="Code" />
        <div class="form-group">
            <input class="btn btn-primary" id="submit" type="submit" value="Save Changes" />
        </div>
    </form>
</div>

<script src="~/vendor/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").attr('disabled', 'disabled');

        $("form").keyup(function () {
            // To Disable Submit Button
            $("#submit").attr('disabled', 'disabled');
            // Validating Fields
            var registrationCode = $("#registrationCode").val();

            if (!(registrationCode == "")) {

                // To Enable Submit Button
                $("#submit").removeAttr('disabled');
                $("#submit").css({
                    "cursor": "pointer",
                    "box-shadow": "1px 0px 6px #333"
                });

            }
        });
        // On Click Of Submit Button
        $("#submit").click(function () {
            $("#submit").css({
                "cursor": "default",
                "box-shadow": "none"
            });

        });
    });

</script>