
@{
    ViewData["Title"] = "Welcome";
}


<br /><br /><br /><br />
<div class="mt-5">
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">Welcome to fixit.ph</span>
                    <div class="mb-4 lead">Thank you for signing up.</div>
                    <a href="~/home" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>