
@{
    Layout = "~/areas/manage/views/shared/_forms.cshtml";
}

<h2>Update Logo</h2>
<a href="~/manage/shops/index" class="btn btn-primary">List shop</a>
<div class="row">
    <div class="col-md-6">
        <form action="~/manage/shop/update-logo" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="hidden" name="ShopId" value="@Model.ShopId" />
                <label for="Logo">Logo:</label><br />
                <img src="~/image/shops/logo/@Model.ShopId/logo.png" style="max-width:200px;max-height:200px;" /></br></br>
                <input type="file" class="form-control" name="logo" />
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div>
