@model ProjectBSIS401.WEB.Areas.Manage.ViewModels.user.ChangePasswordViewModel
@{
    Layout = "~/areas/manage/views/shared/_forms.cshtml";
}

<div class="container">
    <div class="createaccount">

        <img src="~/myimages/logotransparent.png" />
        <h3>Change Password</h3>
        <p class="text-muted text-center">
            It's a good idea to use a strong password that you don't use elsewhere
        </p>
        <form action="~/manage/users/change-password" method="post">
            <div asp-validation-summary="All" class="text-danger text-center"></div>
            <div class="form-group">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
            </div>
            <input type="hidden" id="userId" name="UserId" value="@Model.UserId" />

            <div class="form-group">
                <input type="password" id="oldPassword" name="OldPassword" placeholder="Old password" />
            </div>
            <div class="form-group">
                <input type="password" id="newPassword" name="NewPassword" placeholder="New password" />
            </div>
            <div class="form-group">
                <input type="password" id="confirmPassword" name="ConfirmNewPassword" placeholder="Confirm password" />
            </div>
            <br />
            <hr />
            <div class="form-group">
                <input class="btn btn-primary" id="submit" type="submit" value="Save Changes" />
            </div>
        </form>

    </div>
</div>


<script src="~/vendor/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#submit").attr('disabled', 'disabled');

        $("form").keyup(function() {
            // To Disable Submit Button
            $("#submit").attr('disabled', 'disabled');
        // Validating Fields
            var oldPassword = $("#oldPassword").val();
            var newPassword = $("#newPassword").val();
            var confirmPassword = $("#confirmPassword").val();


            if (!(oldPassword == "" || newPassword == "" || confirmPassword == "")) {

                // To Enable Submit Button
                $("#submit").removeAttr('disabled');
                    $("#submit").css({
                        "cursor": "pointer",
                        "box-shadow": "1px 0px 6px #333"
                    });

            }
        });
         // On Click Of Submit Button
        $("#submit").click(function() {
            $("#submit").css({
                 "cursor": "default",
                 "box-shadow": "none"
            });

        });
    });


</script>