@model ProjectBSIS401.WEB.ViewModels.shopServices.MyShopServiceViewModel
@{
    Layout = null;
    Layout = "~/views/shared/_ShopPartialNav.cshtml";
}



<br /><br>
@{

    @if (Model.ShopServices != null)
    {
        if (Model.ShopServices.Count > 0)
        {

        <div class="mt-5">
            <a href="#" class="img-hover"><img src="~/image/shops/banner/@WebIDS.GetShopId/banner.png" style="min-width:1100px; height:300px;" class="img-fluid" alt="Responsive image"></a>
        </div>
        <!-- Section Style 1 Start -->
        <section class="style-1 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2>My Services </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var shopService in Model.ShopServices)
                    {
                        <div class="col-4">
                           <div class="text-center">
                               <h3 class="text-black-50">@shopService.Service</h3>
                           </div>
                            <div class="text-center">
                                <p>@shopService.Description</p>
                                <hr />
                                <small> &#8369;@shopService.Price.ToString("F")</small>
                            </div>
                           
                        </div>
                    }



                </div>
            </div>
        </section>

        }

    }
}
